---
layout: default
ishomepage: true
---

<div class="top_banner image_snapshots clearfix">
  {% for image in site.static_files %}
    {% if image.path contains 'images/thumbnails' %}
        <img src="{{ site.baseurl }}{{ image.path }}" />
    {% endif %}
  {% endfor %} 
</div>

<div class="posts" id="posts_container">
  <div class="homepage_intro">
      <h2>I'm a design engineer at heart.<br>Curious about how things work and how they are made.</h2>
      <p>Based in Salzurg, Austria, I work as a <a href="http://www.vanschneider.com/get-job-kiska">Senior Creative Technologist</a> at <a href="https://www.kiska.com/">KISKA</a>. I build and deliver complex connected products for global brands, bringing to life visions of the future with hardware, software, electro-mechanical design, digital technology and magic.</p>
      <p>The best engineer is the one having the most fun.</p>
  </div>

  {% for post in site.posts %}
    <article class="post_preview">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h2><span class="date">{{ post.date | date: "%Y / %m" }}</span>{{ post.short-title }}</h2>
        <h3>{{ post.strapline }}</h3>
      </a>
    </article>
  {% endfor %}
  {% if site.posts.size > 3 %}
    <a href="#showmore" id="show_more" class="show_more">↓ Show older posts</a>

    <script>
    var show_more = document.getElementById("show_more");
    var posts_container = document.getElementById("posts_container");
    show_more.addEventListener('click', function(e){
      e.preventDefault();
      addClass(posts_container, 'show_all');
      show_more.parentNode.removeChild(show_more);
    });
    </script>
  {% endif %}
</div>

<div class="wrapper-homepage-lower">
  <div class="container">
    <div class="projects">
        <figure class="project">
          <img src="images/projects/uvx.jpg">
          <figcaption>UVX R-1 (2017)</figcaption>
        </figure>
        <figure class="project">
          <img src="images/projects/den.jpg">
          <figcaption>The DEN (2016)</figcaption>
        </figure>
        <figure class="project video">
          <a href="https://www.youtube.com/watch?v=B87Tg2BkyW4"><img src="images/projects/tedx.jpg"></a>
          <figcaption>Mountaineering and technology (2013)</figcaption>
        </figure>
        <figure class="project">
          <img src="images/projects/greenland.jpg">
          <figcaption>E-tracers Project, Greenland (2011)</figcaption>
        </figure>
        <figure class="project">
          <img src="images/projects/skank.jpg">
          <figcaption>Skid-steer vehicle design (2006)</figcaption>
        </figure>
        <figure class="project">
          <img src="images/projects/wii.jpg">
          <figcaption>Gestural interface for 3D CAD (2012)</figcaption>
        </figure>
    </div>
    <nav class="homepage-nav">
      <a href="https://www.instagram.com/{{ site.footer-links.instagram }}/"> Instagram</a>
      <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"> LinkedIn</a>
      <a href="https://twitter.com/{{ site.footer-links.twitter }}">          Twitter</a>
      <a href="https://github.com/{{ site.footer-links.github }}">            Github</a>
    </nav>
  </div>
</div>