---
layout: default
ishomepage: true
---

<div class="top_banner image_snapshots clearfix">
  {% for image in site.static_files %}
    {% if image.path contains 'images/thumbnails' %}
        <img src="{{ site.baseurl }}{{ image.path }}" />
    {% endif %}
  {% endfor %} 
</div>

<div class="posts">
  <div class="homepage_intro">
      <h2>I'm a design engineer at heart.<br>Curious about how things work and how they are made.</h2>
      <p>Based in Salzurg, Austria, I work as a <a href="http://www.vanschneider.com/get-job-kiska">Senior Creative Technologist</a> at <a href="https://www.kiska.com/">KISKA</a>. I help brands to build and deliver complex connected products, bringing to life visions of the future with hardware, software, electro-mechanical design and digital technology (occasionally abbreviated to magic).</p>
      <p>The best engineer is the one having the most fun.</p>
  </div>

  {% for post in site.posts limit:3 %}
    <article class="post_preview">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h2><span class="date">{{ post.date | date: "%Y / %m" }}</span>{{ post.title }}</h2>
        <h3>{{ post.strapline }}</h3>
      </a>
    </article>
  {% endfor %}
</div>
