---
layout: default
ishomepage: true
---

<section class="intro_bg">
   <h2 class="tagline ss_toggle">
      <span>Building</span>
      <span class="links">
         <a href="#serious" class="selected">serious</a>
         <a href="#silly">silly</a>
      </span>
      <span>things</span>
   </h2>
   <ul class="social">
      <li><a class="instagram" href="https://www.instagram.com/{{ site.footer-links.instagram }}/">Instagram</a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">LinkedIn</a></li>
      <li><a class="twitter" href="https://twitter.com/{{ site.footer-links.twitter }}">Twitter</a></li>
      <li><a class="github" href="https://github.com/{{ site.footer-links.github }}">Github</a></li>
   </ul>
</section>

<main>
   <section class="panel_full_width" id="intro_blurb">
      <p>Based in Salzurg, Austria, I work as a Senior Interaction Technologist at <a href="https://www.kiska.com">KISKA</a>.<br>I lead teams to build and launch complex connected products, bringing to life future ideas with a chaotic mix of hardware, software, electro-mechanical design, digital technology and magic.</p>
      <p>The best engineer is the one having the most fun.</p>
   </section>

   <section class="serious_silly_toggle serious" id="serious_silly_toggle">

      <h3 class="ss_toggle black_line_behind category_label" id="ss_toggle">
         <span>Showing</span>
         <span class="links">
            <a href="#serious" class="selected">Serious</a>
            <a href="#silly">Silly</a>
         </span>
         <span>things</span>
      </h3>

      <div class="serious_container">
         <section class="projects serious">
            {% for project in site.data.projects.serious %}
               {% if project.hidden %}
               {% else %}
               <article class="project_card {{project.card_class}}">
                  <div class="project_card_img">
                     <img src="images/serious/{{ project.image }}">
                  </div>
                  <h3>{{ project.title }}</h3>
               </article>
               {% endif %}
            {% endfor %}    
         </section>
      <!--   <p class="serious_footnote">
            Ssssssh!<br>
            Serious projects = secret projects.<br>
            Try some <a href="#silly">silly</a> projects instead.
         </p> -->
      </div>
   
      <section class="silly_container projects silly">
      {% for project in site.data.projects.silly %}
         <article class="project_card {{project.card_class}}">
            <div class="project_card_img">
               <img src="images/silly/{{ project.image1 }}">
               <img src="images/silly/{{ project.image2 }}">
            </div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
         </article>
      {% endfor %}    
      </section>

   </section>

</main>