---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $copyfont 300;
  color: $darkGray;
}

.container {
  margin: 0 0 0 140px;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingfont;
  color: $darkerGray;
  font-weight: 300;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 { font-size: 24px; }
h3 { font-size: 20px;}
h4 { font-size: 18px; color: $gray;}

p { margin: 15px 0; }

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection{
  background-color:$textselection;
  color: $darkerGray;
  text-shadow:none;
}
::selection{
  background-color: $textselection;
  color: $darkerGray;
  text-shadow:none;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  margin-top: 30px;
}

.masthead {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-avatar {
  width: 137px;
  height: 60px;

  @include mobile {
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  font-family: $navfont;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    display:block;
    line-height: 1.4em;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .image_snapshots
//
.image_snapshots{
  margin: 0 0 0 60px;
  overflow: hidden;
  position: absolute;
  left: 0;

  img{
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0 8px 0 0;
  }
  img:hover{
    animation: hue-rotate 20s linear infinite;
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}



//
// .main
//


.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts{
  padding-top: 250px;

  a{
    display:block;

    h2{
      font-size:22px;
      margin-bottom:0;

      .date{
        font-style: normal;
        display:block;
        width:100px;
        float:left;
      }
    }

    h3{
      font-size: 16px;
      margin-left:100px;
      margin-top:0;
    }
  }
  a:hover{
    h2{
      color: $linkhover;
      text-decoration: underline;

      .date{
        color: $linkhover;
        text-decoration: none;
      }
    }
    h3{
      color: $linkhover;
    }
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border: 1px solid $footerborder;
  border-style: solid none;
  background-color: $footerbg;
}

footer {
  padding: 20px 0;
  display: flex;
  text-align: center;

  a{
    display:block;
    margin-right:10px;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
