---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "core";
// Syntax highlighting @import is at the bottom of this file


/*********************/
/* LAYOUT / SECTIONS */
/*********************/
  
.container {
  margin: 0 0 0 $leftmargin;
  max-width: 840px;
  padding: 0 10px;
  width: 100%;
}

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 30px;
  margin-top: $topmargin;
}

.masthead {
  padding: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cave-logo {
  width: 137px;
  height: 60px;

  @include mobile {
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

//
// .top-banner
//
.top_banner{
  margin: 0 0 0 60px;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 1268px;
  height: 200px;
}
.top_banner + .post, .top_banner + .posts{
  padding-top:240px;
}


//
// .image_snapshots
//
.image_snapshots{

  img{
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0 8px 0 0;
  }
  img:hover{
    animation: hue-rotate 20s linear infinite;
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}



//
// .main
//
.main{
  background-color:$white;
  z-index:20;
  position:relative;
  margin-left:0;
  padding-left:($leftmargin+10);
  padding-bottom: 50px;
  box-sizing: content-box;
}

.post_header{
  width:1300px;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts{

  a{
    display:block;
    text-decoration: none;

    h2{
      font-size:22px;
      margin-bottom:0;
      display:inline-block;

      .date{
        font-style: normal;
        display:block;
        width:100px;
        float:left;
      }
    }

    h3{
      font-size: 16px;
      margin-left:100px;
      margin-top:0;
    }
  }
  a:hover{
    h2{
      color: $linkhover;
      background-image: linear-gradient(to right, $linkhover 75%, transparent 75%);
      background-position: 0 1.3em;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      text-shadow: 3px 3px $white, 3px -3px $white, -3px 3px $white, -3px -3px $white;
    }

    .date{
      background-image: none;
      color: $linkhover;
      background-color: #fff;
    }

    h3{
      color: $linkhover;
    }
  }
}

.post {
  font-family: $copyfont;
  
  h1 {
    font-size: 48px;
    margin-top: 0.5em;
  }

  h2 {
    font-size: 28px;
    font-weight: 300;
  }

  p {
    font-size: 1.1em;
    line-height: 1.4em;
    font-family: "Open Sans";
    max-width: 40em;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .published_date{
    font-style: normal;
    font-size: 12px;
    margin-top: 40px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-homepage-lower{
  border: 1px solid $footerborder;
  border-style: solid none;
  background-color: $footerbg;
  z-index:20;
  position: relative;

  .container{
    display: flex;
  }
}


.homepage-nav {
  font-family: $navfont;
  font-size: 1.25em;
  padding-top: 13px;
  margin-left: 10px;

  a {
    margin-left: 30px;
    color: $darkGray;
    font-weight: 300;
    display:block;
    line-height: 1.4em;
    padding: 5px 0;

  }
}

/* Projects */
.projects{
	position:relative;
}
.project{
	padding-top:18px;
	padding-bottom:35px;
	width:500px;
	margin-top:0;
	margin-bottom:0;
}
.project img{
	display:block;
	width:100%;
}
.project figcaption{
	font-family: $copyfont;
	text-align: center;
	display: block;
	height:2em;
	line-height:2em;
	font-weight:300;
	padding-top:10px;
}


.footer-spacer{
  height: 420px;
  display: none;
}
footer {
  position:relative;
  z-index:10;
  left:0;
  bottom:0;
  margin-left:$leftmargin;
  padding-left:10px;
  font-weight:300;

  .footer_logo{
    width:90px;
    opacity:0.5;
    display:block;
    margin:40px 0;
  }

  h4{
    font-size:1.375em;
    font-weight:300;
    margin:0;
    display:none;
  }

  .quote_attribution{
    font-family: $copyfont;
    font-size:0.875em;
    margin:5px 0 0 0;
    display:none;
  }

  a{
    display:block;
    margin-right:10px;
  }
}

.homepage{
  .footer-spacer{
    display:block;
  }
  footer{
    position:fixed;

    h4{display:block;}
    .quote_attribution{display:block;}
  }
}

nav.social_links {
	line-height:1.5em;
  font-size:0.875em;
  margin-left:0;
  font-family: $copyfont;
  
  ul{
    list-style: none;
    margin:40px 0 100px 0;
    padding:0;
    font-weight:300;
    line-height: 1.5em;
  }


  a{
    color:#000;
    text-decoration:none;
    margin-left:0;
    display: inline-block;
  }
  a:hover{
    color:$linkhover;
    text-decoration:none;
    background-image: linear-gradient(to right, $linkhover 75%, transparent 75%);
    background-position: 0 1.3em;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-shadow: 3px 3px $white, 3px -3px $white, -3px 3px $white, -3px -3px $white;
  }
}




// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
