<form class="js-form comment_form" method="post" action="{{ site.staticman_url }}" id="comment_form">
   <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
   <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
   <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
   <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value="">
   <input type="hidden" name="options[slug]" value="{{ page.slug }}">
   <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
   <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">
 
   <label for="comment-form-message">
      <h4>Leave a comment<a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">(cancel reply)</a></h4>
   </label>
   <fieldset>
      <textarea class="textfield_box" name="fields[message]" type="text" id="comment-form-message" placeholder="Add your comment here. You can use markdown to format" required></textarea>
   </fieldset>
 
   <fieldset>
      <label for="comment-form-name">Name*</label>
      <input class="textfield_input" name="fields[name]" type="text" id="comment-form-name" placeholder="Your name" required>
   </fieldset>
 
   <fieldset>
      <label for="comment-form-email">E-mail</label>
      <input class="textfield_input" name="fields[email]" type="email" id="comment-form-email" placeholder="(optional, never shown on site)">
   </fieldset>
 
   <fieldset class="hidden_input">
      <label for="hp"></label>
      <input class="textfield_input" name="fields[hp]" id="hp" type="text" placeholder="Leave blank">
   </fieldset>

   {% comment %}
   <fieldset class="right_align">
      <div id  ="reCaptcha" class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
   </fieldset>
   {% endcomment %}

   <p class="message_back" id="message_back"></p>
 
   <fieldset class="right_align">
      <button class="button comment-form-submit" id="comment_form_submit">Add comment</button>
   </fieldset>
 
 </form>