<div class="wrapper-homepage-lower">
        <div class="container">
          <div class="projects">
              <figure class="project">
                <img src="images/projects/uvx.jpg">
                <figcaption>UVX R-1 (2017)</figcaption>
              </figure>
              <figure class="project">
                <img src="images/projects/den.jpg">
                <figcaption>The DEN (2016)</figcaption>
              </figure>
              <figure class="project video">
                <a href="https://www.youtube.com/watch?v=B87Tg2BkyW4"><img src="images/projects/tedx.jpg"></a>
                <figcaption>Mountaineering and technology (2013)</figcaption>
              </figure>
              <figure class="project">
                <img src="images/projects/greenland.jpg">
                <figcaption>E-tracers Project, Greenland (2011)</figcaption>
              </figure>
              <figure class="project">
                <img src="images/projects/skank.jpg">
                <figcaption>Skid-steer vehicle design (2006)</figcaption>
              </figure>
              <figure class="project">
                <img src="images/projects/wii.jpg">
                <figcaption>Gestural interface for 3D CAD (2012)</figcaption>
              </figure>
          </div>
          <nav class="homepage-nav">
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">Daily work</a>
            <a href="mailto:hello@designedbycave.co.uk">hello@designedbycave.co.uk</a>
          </nav>
        </div>
      </div>