{% if page.is_post %}
   <base href="/images/posts/{{ page.folder }}/">
{% endif %}

{% if page.redirect_new_url %}
	<meta http-equiv="refresh" content="0; url={{ page.redirect_new_url }}">
	<link rel="canonical" href="{{ page.redirect_new_url }}" />
{% endif %}

<meta name="author" content="{{ site.author }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.designedbycave.co.uk{{ page.url }}">

<meta name="twitter:site" content="@George_Cave">
<meta name="twitter:creator" content="@George_Cave">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}">

{% if page.is_post %}
   <meta property="og:description" content="{{ page.excerpt | strip_html }}">
   <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
   <meta property="og:image:alt" content="{{ page.strapline }}">
{% else %}
   <meta property="og:description" content="{{ site.description }}">
   <meta name="twitter:description" content="{{ site.description }}">
   <meta property="og:image:alt" content="{{ site.title }}">
{% endif %}

{% if page.og_image %}

   <meta property="og:image" content="https://www.designedbycave.co.uk/images/posts/{{ page.folder }}/{{ page.og_image }}">
   <meta name="twitter:image" content="https://www.designedbycave.co.uk/images/posts/{{ page.folder }}/{{ page.og_image }}">

{% else %}

   {% if page.is_post %}
      <meta property="og:image" content="https://www.designedbycave.co.uk/images/posts/{{ page.folder }}/header.jpg">
      <meta property="og:image:width" content="1300">
      <meta property="og:image:height" content="200">
      <meta name="twitter:image" content="https://www.designedbycave.co.uk/images/posts/{{ page.folder }}/header.jpg">
   {% else %}
      {% if page.header_img %}
         <meta property="og:image:width" content="2600">
         <meta property="og:image:height" content="400">
         <meta property="og:image" content="https://www.designedbycave.co.uk/images/backgrounds/{{ page.header_img }}">
         <meta name="twitter:image" content="https://www.designedbycave.co.uk/images/backgrounds/{{ page.header_img }}">
      {% else %}
         <meta property="og:image:width" content="949">
         <meta property="og:image:height" content="500">
         <meta property="og:image" content="https://www.designedbycave.co.uk/images/og-header.jpg">
         <meta name="twitter:image" content="https://www.designedbycave.co.uk/images/og-header.jpg">
      {% endif %}
   {% endif %}

{% endif %}
