
main.text_column{
   h1{
      @include small-desktop{
         text-align: center;
      }
   }
}

main.article{
   h1{
      margin-bottom:0.755em;
   }

   h4{
      font-weight: 300;
   }

   time{
      font-family: $font_special; 
      font-size: 18px;
      margin: 0.5em 0 2em;
      font-weight: 500;
      color: $colour_card_title;
   }
}

/* ****************************** */
/* ****      Articles        ****
/* ****************************** */

.article_header{
   width: 100%;

   @include small-desktop{
      height: 40%;
      margin-top: 10%;
      position: relative;
      width: auto;
      display: flex;
      align-content: center;
   }
   @include mobile{
      margin-top: 20%;
   }

   img{
      width: 100%;

      @include small-desktop{
         object-fit: cover;
      }
   }
}
.published_date{
   font-size: 0.8em;
   text-align: right;
}

/* ****************************** */
/* ****      Comments        ****
/* ****************************** */

.comments{
   .comment_form{
      width: 50%;

      @include mobile{
         width: 100%;
      }

      h4{
         font-weight: 400;
         font-size: 0.9em;
         margin-bottom: 0;
      }

      fieldset{
         margin: 0.5em 0;
         display: flex;
         border: 0;
         padding: 0;

         &.hidden_input{
            display: none;
         }
         &.right_align{
         /*   align-content: flex-end; */
            margin-left: 90px;
         }

         label{
            font-family: $font_body;
            font-weight: 300;
            min-width: 90px;
            padding: 0.3em 0;
         }

         .textfield_box{

         }

         .textfield_input{
            flex-grow: 1;
            font-size: 16px;
            font-family: $font_body;
            padding: 0.4em 0.5em;
         }
      }
      textarea{
         width: 100%;
         height: 9em;
         line-height: 1.25em;
         font-size: 16px;
         font-family: $font_body;
         padding: 0.5em;
      }
      .button{
         font-size: 0.8em;
         display: inline-block;
         border: 2px solid black;
         padding: 0.3em 0.6em;
         cursor: pointer;
         background: white;
         text-transform: uppercase;
         font-weight: 400;
         font-family: $font_special;

         &:hover{
            background: black;
            color: white;
         }
         &:disabled{
            background: #444;
            color: white;
            border-color: #444;
            cursor: default;
         }
      }

      .message_back{
         display:none;
         padding: 0.5em 1em;
      }

      &.show_msg{
         .message_back{
            display:block;
         }
      }
      &.msg_success{
         .comment-form-submit{
            display: none;
         }
         .message_back{
            background-color: rgba(0,255,0,0.1);
         }
      }
      &.msg_failure{
         .message_back{
            background-color: rgba(255,0,0,0.1);
         }
      }
   }
   h3{
      span{
      /*   padding-left: 0.5em;
         padding-right: 0.5em; */
      }
   }

   .comment{
      border-left: 3px solid #ddd;
      padding: 0 1em;
      margin-bottom: 1em;

      &:hover{
         border-color: #bbb;
      }
      
      .comment_author{
         font-size: 0.8em;
         font-family: $font_body;
         font-weight: 300;
         margin: 1em 0;

         a{
            color: black;
         }
      }
      .comment_reply-link{
         font-size: 0.9em;
         font-weight: 300;
         display: inline-block;
         border: 1px solid #ccc;
         padding: 0.5em 1em;
         cursor: pointer;

         &:hover{
            border-color: $colour_highlight;
         }
      }
   }
   .comment_child{
      margin-left: 2em;
   }
}



/* ****************************** */
/* **    List of Articles      **
/* ****************************** */


.articles{
   margin: 25px 0;
}

.article_card{

   text-decoration: none;
   display: block;
   margin-bottom: 3em;
   
   .article_card_img{
      max-width: 100%;
      position: relative;
      display: block;

      img{
         display: block;
         max-width: 100%;
         filter: grayscale(50%) contrast(150%);
         height: 200px;
         object-fit: cover;

         @include mobile{
            height: 100px;
         }
      }
   }

   &.no_filter img{
      filter: none;
   }

   header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include small-desktop{
         flex-direction: column;
         align-items: flex-start;
      }

      h3, time {
         font-weight: 300;
         margin: 1em 0 0.5em;
         color: $colour_card_title;
         font-family: $font_special;
      }
      h3{
         font-size: 26px;

         a{
            color: $colour_card_title;
            text-decoration: none;
         }
      }
      time {
         font-size: 20px;

         @include small-desktop{
            margin-top:0em;
         }
      }

   }
   p {
      font-weight: 300;
      margin: 1em 0;
      color: $colour_card_body;
   }
}