
main.text_column{
   h1{
      @include small-desktop{
         text-align: center;
      }
   }
}

main.article{
   h1{
      margin-bottom:0.755em;
   }

   h4{
      font-weight: 300;
   }

   time{
      font-family: $font_special; 
      font-size: 18px;
      margin: 0.5em 0 2em;
      font-weight: 500;
      color: $colour_card_title;
   }
}

/* ****************************** */
/* ****      Articles        ****
/* ****************************** */

.article_header{
   width: 100%;

   @include small-desktop{
      height: 40%;
      margin-top: 10%;
      position: relative;
      width: auto;
      display: flex;
      align-content: center;
   }
   @include mobile{
      margin-top: 20%;
   }

   img{
      width: 100%;

      @include small-desktop{
         object-fit: cover;
      }
   }
}
.published_date{
   font-size: 0.8em;
   text-align: right;
}


/* ****************************** */
/* **    List of Articles      **
/* ****************************** */


.articles{
   margin: 25px 0;
}

.article_card{

   text-decoration: none;
   display: block;
   margin-bottom: 3em;
   
   .article_card_img{
      max-width: 100%;
      position: relative;
      display: block;

      img{
         display: block;
         max-width: 100%;
         filter: grayscale(50%) contrast(150%);
         height: 200px;
         object-fit: cover;

         @include mobile{
            height: 100px;
         }
      }
   }

   &.no_filter img{
      filter: none;
   }

   header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include small-desktop{
         flex-direction: column;
         align-items: flex-start;
      }

      h3, time {
         font-weight: 300;
         margin: 1em 0 0.5em;
         color: $colour_card_title;
         font-family: $font_special;
      }
      h3{
         font-size: 26px;

         a{
            color: $colour_card_title;
            text-decoration: none;
         }
      }
      time {
         font-size: 20px;

         @include small-desktop{
            margin-top:0em;
         }
      }

   }
   p {
      font-weight: 300;
      margin: 1em 0;
      color: $colour_card_body;
   }
}