@font-face {
   font-family: 'Lemon Milk';
   src: url('fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('fonts/lemonmilk-webfont.woff') format('woff');
   font-weight: 500;
   font-style: normal;

}
@font-face {
   font-family: 'Lemon Milk';
   src: url('fonts/lemonmilkbold-webfont.woff2') format('woff2'),
         url('fonts/lemonmilkbold-webfont.woff') format('woff');
   font-weight: 900;
   font-style: normal;

}
@font-face {
   font-family: 'Lemon Milk';
   src: url('fonts/lemonmilklight-webfont.woff2') format('woff2'),
         url('fonts/lemonmilklight-webfont.woff') format('woff');
   font-weight: 300;
   font-style: normal;

}