
//
// .image_snapshots
//
.image_snapshots{
  
  @include mobile {
    width: 316px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  img{
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0 8px 0 0;

    @include mobile {
      width:150px;
      height:150px;
      margin: 0 4px 8px 4px;
    }
  }

  img:hover{
    animation: hue-rotate 20s linear infinite;
  }

}

  
@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
  
.posts{
    padding: 20px 0 0 $leftmargin;
    background-color: $white;
    z-index: 30;
    position: relative;
    
    @include mobile {
      padding:0 20px;
    }

    .post_preview{
      a{
        display:block;
        text-decoration: none;
        max-width: $maxwidth;
    
        h2{
          font-size:22px;
          margin-bottom:0;
          display:inline-block;
    
          .date{
            display:block;
            width:100px;
            float:left;
          }
        }
    
        h3{
          font-size: 16px;
          margin-left:100px;
          margin-top:0;
        }
      }
      a:hover{
        h2{
          color: $linkhover;
          background-image: linear-gradient(to right, $linkhover 75%, transparent 75%);
          background-position: 0 1.3em;
          background-repeat: repeat-x;
          background-size: 1px 1px;
          text-shadow: 3px 3px $white, 3px -3px $white, -3px 3px $white, -3px -3px $white;
        }
    
        .date{
          background-image: none;
          color: $linkhover;
          background-color: #fff;
        }
    
        h3{
          color: $linkhover;
        }
      }
    }
}

.posts > .post_preview:last-child {
  padding-bottom: 30px;
}
  

 // 
 // .wrapper-homepage-lower
 // 
 
.wrapper-homepage-lower{
    border: 1px solid $footerborder;
    border-style: solid none;
    background-color: $footerbg;
    z-index:20;
    position: relative;

    .container{
        display: flex;

        @include mobile {
          flex-direction: column;
        }
    }
}
  
.homepage-nav {
    font-family: $navfont;
    font-size: 1.1em;
    padding-top: 13px;
    margin-left: 10px;
        
    @include mobile {
      order: -1;
      padding: 13px 20px;
      text-align: center;
      margin: 0;
    }

    a {
        margin-left: 30px;
        font-weight: 300;
        display:block;
        line-height: 1.4em;
        padding: 5px 0;
        color: $copycolour; 

        @include mobile {
          margin-left: 0px;
        }

        &:hover, &:active {
          color: $copycolour;
          text-decoration:underline;
        }
    }

}

// 
// .projects
//
.projects{
  position:relative;
  margin-left:$leftmargin;

  @include mobile{
    margin-left: 20px;
    margin-right: 20px;
  }
}
.project{
	padding-top:18px;
	padding-bottom:35px;
	width:500px;
	margin-top:0;
  margin-bottom:0;
  
  @include mobile{
    max-width:100%;
  }
}
.project img{
	display:block;
	width:100%;
}
.project figcaption{
	font-family: $copyfont;
	text-align: center;
	display: block;
	height:2em;
	line-height:2em;
	font-weight:300;
	padding-top:10px;
}



// 
// .footer 
//   
.homepage{
  .footer-spacer{
    display:block;

    @include mobile{
      display:none;
    }
  }
  footer{
    position:fixed;

    
    @include mobile {
      position: relative;
    }

    h4{display:block;}
    .quote_attribution{display:block;}
  }
}
