


/* ****************************** */
/* **** Homepage Background ****
/* ****************************** */

.intro_bg{
   width:100vw;
   position: relative;
   height: 100vh;
   background: url("images/backgrounds/in_car.jpg") no-repeat;
   background-position: 60% center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   @include mobile{
      background-position: 50% center;
   }

   .social{
      position:absolute;
      bottom: 1em;
      font-size: 26px;

      @include mobile{
         bottom: 0.2em;
         font-size: 20px;
      }
   }
}
.intro_bg:before{
   content: "";
   background-color: #8dc140;
   mix-blend-mode: color-burn;
   position: absolute;
   width: 100%;
   height: 100%;
   display:block;
}

.tagline{
   font-size: 48px;
   font-weight:500;

   span:nth-of-type(1), span:nth-of-type(3){
      min-width: 250px;
   }
   span:nth-of-type(1){
      text-align:right;
   }

   @include mobile{
      font-size: 36px;
      flex-direction: column;
      margin-top: 50%;

      span:nth-of-type(n){
         min-width: auto;
      }

   }
   .links{
      @include mobile{
         flex-direction: row;
         margin: 5px 0;
      }
   }

   a{
      animation: shake 3s linear 3s infinite;
      padding: 2px 15px;
      margin: 10px 25px;
      font-weight: 900;

      @include mobile{
         margin: 10px 10px;
      }
   }
   a:nth-of-type(2){
      animation: shake 3s linear 3.1s infinite;
   }
   a:focus{
      outline-offset: 7px;
      outline: 5px solid white;
   }
}

/* ****************************** */
/* **       intro_blurb        **
/* ****************************** */

main .intro_blurb{
   margin-top: 60px;
}

.profile_pic{
   border-radius:100%;
}


/* ****************************** */
/* **         Serious          **
/* ****************************** */

.projects.serious{
   margin-top: 25px;
   display: flex;
   flex-direction: column;

   .project_card{
      position:relative;
      margin-bottom: 20px;

      &:nth-of-type(2n){
         align-self: flex-end;
      }

      .project_card_img{
         max-width: 100%;
         
         img{
            display: block;
            max-width: 100%;
            filter: grayscale(50%) contrast(150%);
            transition: opacity 0.15s ease-in-out;

            &:nth-of-type(1){
               z-index: 20;
            }
         }
      }


      &.no_filter{
         img{
            filter: none;
         }
      }

      h3 {
         font-size: 40px;
         font-weight: 500;
         margin: 0;
         color:black;
         font-family: "Lemon Milk", sans-serif;
         position: absolute;
         bottom: 20px;
         left: 25px;
         z-index: 30;
         line-height: 1em;
         mix-blend-mode: soft-light;
         transition: 0.3s all ease-in-out;
         cursor: default;

         @include mobile{
            font-size: 32px;
            bottom: 10px;
            left: 15px;
         }
      }
      &.text_right{
         h3{
            left: auto;
            right: 25px;
            text-align: right;

            @include mobile{
               right: 15px;
            }
         }
      }
   }
}

.serious_footnote{
   text-align: center;
   font-size: 18px;
   text-transform: lowercase;
}

/* ****************************** */
/* **          Silly           **
/* ****************************** */

.projects.silly{
   display:grid;
   margin-top: 25px;
   grid-template-columns: 1fr 1fr;
   column-gap: 20px;
   row-gap: 20px;

   @include mobile {
      grid-template-columns: 1fr;
   };

   .project_card{
      
      .project_card_img{
         max-width: 100%;
         position: relative;
         height: 0;
         overflow: hidden;
         padding-top: calc(2 / 3 * 100%);

         img{
            display: block;
            max-width: 100%;
            filter: grayscale(50%) contrast(150%);
            position: absolute;
            top: 0;
            left: 0;
            float: left;
            z-index: 10;
            transition: opacity 0.15s ease-in-out;

            &:nth-of-type(1){
               z-index: 20;
            }
         }
      }
      &.no_filter{
         img{
            filter: none;
         }
      }

      h3 {
         font-size: 26px;
         font-weight: 500;
         margin: 1em 0 0.2em;
         color: #bbb;
         font-family: "Lemon Milk", sans-serif;
         transition: all 0.15s ease-in-out;

         @include mobile{
            font-size: 22px;
            color: $colour_card_title;
         }
      }
      &:hover{
         h3{
            color: $colour_card_title;
         }
         .project_card_img img:nth-of-type(1){
            opacity: 0;
         }
      }

      p {
         font-size: 18px;
         font-weight: 300;
         margin: 0;
         color: $colour_card_body;
      }
   }
}

/* ****************************** */
/* **     Display toggles      **
/* ****************************** */

.serious_silly_toggle.serious{
   .silly_container{
      display:none;
   }
}
.serious_silly_toggle.silly{
   .serious_container{
      display:none;
   }
}