
//
// .image_snapshots
//
.image_snapshots{

    img{
      display: block;
      float: left;
      width: 200px;
      height: 200px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      margin: 0 8px 0 0;
    }
    img:hover{
      animation: hue-rotate 20s linear infinite;
    }
  }

  
@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
  
.posts{
    padding: 0 0 0 $leftmargin;
    background-color: $white;
    z-index: 30;
    position: relative;

    .post_preview{
      a{
        display:block;
        text-decoration: none;
        max-width: $maxwidth;
    
        h2{
          font-size:22px;
          margin-bottom:0;
          display:inline-block;
    
          .date{
            display:block;
            width:100px;
            float:left;
          }
        }
    
        h3{
          font-size: 16px;
          margin-left:100px;
          margin-top:0;
        }
      }
      a:hover{
        h2{
          color: $linkhover;
          background-image: linear-gradient(to right, $linkhover 75%, transparent 75%);
          background-position: 0 1.3em;
          background-repeat: repeat-x;
          background-size: 1px 1px;
          text-shadow: 3px 3px $white, 3px -3px $white, -3px 3px $white, -3px -3px $white;
        }
    
        .date{
          background-image: none;
          color: $linkhover;
          background-color: #fff;
        }
    
        h3{
          color: $linkhover;
        }
      }
    }
}

.posts > .post_preview:last-child {
  padding-bottom: 30px;
}
  

 // 
 // .wrapper-homepage-lower
 // 
 
.wrapper-homepage-lower{
    border: 1px solid $footerborder;
    border-style: solid none;
    background-color: $footerbg;
    z-index:20;
    position: relative;

    .container{
        display: flex;
    }
}
  
.homepage-nav {
    font-family: $navfont;
    font-size: 1.1em;
    padding-top: 13px;
    margin-left: 10px;

    a {
        margin-left: 30px;
        font-weight: 300;
        display:block;
        line-height: 1.4em;
        padding: 5px 0;
        color: $copycolour;

        &:hover, &:active {
          color: $copycolour;
          text-decoration:underline;
        }
    }

}

// 
// .projects
//
.projects{
  position:relative;
  margin-left:$leftmargin;
}
.project{
	padding-top:18px;
	padding-bottom:35px;
	width:500px;
	margin-top:0;
	margin-bottom:0;
}
.project img{
	display:block;
	width:100%;
}
.project figcaption{
	font-family: $copyfont;
	text-align: center;
	display: block;
	height:2em;
	line-height:2em;
	font-weight:300;
	padding-top:10px;
}



// 
// .footer 
//   
.homepage{
  .footer-spacer{
    display:block;
  }
  footer{
    position:fixed;

    h4{display:block;}
    .quote_attribution{display:block;}
  }
}
