
html, body{
   width:100%;
   min-height:100%;
   margin:0;
   height: 100%;
   background-color: $colour_page;
}

/* ****************************** */
/* **** Page Header ****
/* ****************************** */

.site_top{
   position: fixed;
   z-index:200;
   font-family: $font_title;
   padding: 50px 0 0 50px;

   .site_name{
      position: relative;
      z-index:200;
      background-color:$colour_page;
   }
   .site_name:after{
      content: "";
      background-color: $colour_page;
      display:block;
      position:absolute;
      width: 2000px;
      transform-origin: center bottom;
      z-index:10;
      bottom: -25px;
      right: 0px;
      transform: translateX(50%) rotate(-55deg);
      height: 400px;
      outline-offset: 10px;
      outline: 8px solid $colour_page;
      transition: all 0.2s $transition_quiver; 
   }

   h1 {
      margin: 0;
      a{
         text-indent: -9485px;
         background-image: url("images/cave_logo.svg?sanitize=true"); /* appended query needed for stupid Github bug */
         /* https://stackoverflow.com/a/16462143/10240581 */
         background-size: contain;
         background-position: left bottom;
         background-repeat: no-repeat;
         display:block;
         position: relative;
         width:140px;
         height:63px;
         z-index:50;
      }
   }
   h3{
      font-weight:300;
      text-transform: lowercase;
      line-height:1.3em;
      position: relative;
      z-index:50;
      font-size: 18px;
      margin: 1em 0;
   }
   
   nav{
      font-weight:300;
      position: relative;
      z-index:500;
      float: left;
   }
   ul{
      margin: 1em 0 0;
      padding:0;
      list-style:none;
   }
   li{
      line-height: 1.5em;
      font-size: 18px;
      transition: transform 0.15s $transition_quiver;

      &:hover{
         transform: translateX(4px);
      }
   }
   a{
      color: #000;
      text-decoration: none;
   }
   a:hover{
      text-decoration: underline;
      color: rgb(0,100,221);
   }

   ul.social{
      opacity: 0;
      transition: all 0.2s $transition_quiver; 

      li{
         position: relative;

         &:before{
            background-image: url("images/icons/instagram.svg");
            background-repeat: no-repeat;
            background-position: left 60%;
            background-size: auto 75%;
            content: "";
            display: block;
            position:absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            z-index: 10;
            filter:grayscale(100%);
            transition: filter 0.2s ease-in-out;  
         }

         &.instagram:before{ background-image: url("images/icons/instagram.svg"); }
         &.linkedin:before{ background-image: url("images/icons/linkedin.svg"); }
         &.twitter:before{ background-image: url("images/icons/twitter.svg"); }
         &.github:before{ background-image: url("images/icons/github.svg"); }
         &.email:before{ background-image: url("images/icons/email.svg"); }

         &:hover:before{
            filter:grayscale(0%);
         }

         a{
            text-decoration: none;
            z-index: 20;
            padding-left: 1.5em;
            position: relative;

            &:hover{
               text-decoration: underline;
            }
         }
      }
   }
}

header:hover{
   .site_name:after{
      transform: translateX(50%) rotate(-65deg);
   }
   
   ul.social{
      opacity: 1;
   }
   a{
      text-decoration: underline;
   }
}


/* ****************************** */
/* **** Homepage Background ****
/* ****************************** */

.intro_bg{
   width:100%;
   position: relative;
   height: 100%;
   background: url("images/backgrounds/wi-sculpting.jpg") no-repeat;
   /* hmi pic: color-burn / burlywood */
   background-position: 60% center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.intro_bg:before{
   content: "";
   background-color: #7500DE;
   mix-blend-mode: saturation;
   position: absolute;
   width: 100%;
   height: 100%;
   display:block;
}

.tagline{
   font-size: 48px;
   font-weight:500;

   a{
      animation: shake 3s linear 3s infinite;
      padding: 2px 15px;
      margin: 10px 25px;
      font-weight: 900;
   }
   a:nth-of-type(2){
      animation: shake 3s linear 3.1s infinite;
   }
   a:focus, a.selected{
      outline-offset: 7px;
      outline: 5px solid white;
   }
}


/* ****************************** */
/* ****    Main page body    ****
/* ****************************** */

main{
   max-width: 1000px;
   margin: 10px auto;
   max-width: calc(100% - 300px - 300px);
   z-index: 500;
   position: relative;
   font-family: $font_body;

   .panel_full_width{
      margin: 60px auto;
      max-width: 90ch;
      font-size: 20px;
   }
}

@media screen and (max-width: 1500px) {
   main{
      margin-left: 300px;
      margin-right: 30px; 
      max-width: calc(100% - 300px - 30px);
   }
}

main.text_column{
   font-size: 20px;
   max-width: 90ch;
}

main.article{
   h1{
      margin-bottom:0.755em;
   }

   h4{
      font-family: $font_special; 
      font-size: 18px;
      margin: 0.5em 0 2em;
      font-weight: 500;
      color: $colour_card_title;
   }
}


/* ****************************** */
/* ****      Articles        ****
/* ****************************** */

.article_header{
   width: 100%;

   img{
      width: 100%;
   }
}
.published_date{
   font-size: 0.8em;
}


/* ****************************** */
/* **  Grid of project cards   **
/* ****************************** */


.projects{
   display:grid;
   margin: 25px 0;
   grid-template-columns: 1fr 1fr;
   column-gap: 40px;
   row-gap: 40px;
}

.project_card{

   min-height: 300px;

   &:nth-of-type(2n){
      transform: translateY(100px);
   }
   
   .project_card_img{
      max-width: 100%;
      position: relative;
      height: 0;
      overflow: hidden;
      padding-top: calc(3 / 4 * 100%);

      img{
         display: block;
         max-width: 100%;
         filter: grayscale(50%) contrast(150%);
         position: absolute;
         top: 0;
         left: 0;
         float: left;
         z-index: 10;
         transition: opacity 0.15s ease-in-out;

         &:nth-of-type(1){
            z-index: 20;
         }
      }

      &:hover{
         img:nth-of-type(1){
            opacity: 0;
         }
      }
   }

   h3 {
      font-size: 26px;
      font-weight: 300;
      margin: 1em 0 0.5em;
      color:$colour_card_title;
      font-family: "Lemon Milk", sans-serif;
   }
   p {
      font-size: 18px;
      font-weight: 300;
      margin: 1em 0;
      color: $colour_card_body;
   }
}


/* ****************************** */
/* **    List of Articles      **
/* ****************************** */


.articles{
   margin: 25px 0;
}

.article_card{

   text-decoration: none;
   display: block;
   margin-bottom: 3em;
   
   .article_card_img{
      max-width: 100%;
      position: relative;
    /*  padding-top: calc(3 / 4 * 100%); */

      img{
         display: block;
         max-width: 100%;
         filter: grayscale(50%) contrast(150%);
      }
   }

   header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3, h4 {
         font-weight: 300;
         margin: 1em 0 0.5em;
         color: $colour_card_title;
         font-family: "Lemon Milk", sans-serif;
      }
      h3{
         font-size: 26px;
      }
      h4 {
         font-size: 16px;
      }

   }
   p {
      font-size: 20px;
      font-weight: 300;
      margin: 1em 0;
      color: $colour_card_body;
   }
}