//
// .masthead
//

.masthead {
    margin: $topmargin 0 50px $leftmargin;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      margin-left: 0px;
      margin-right: 0px;
      justify-content:space-around;
    }
}

.cave-logo {
    width: 137px;
    height: 60px;
}

//
// .top-banner
//
.top_banner{
    margin: 0 0 20px 60px;
}

//
// .footer
// 

.footer-spacer{
    height: 420px;
    display: none;
}
footer {
  position:relative;
  z-index:10;
  left:0;
  bottom:0;
  margin-left:$leftmargin;
  font-weight:300;

  @include mobile{
    margin-left: 20px;
  }

  .footer_logo{
    width:90px;
    opacity:0.5;
    display:block;
    margin:40px 0;
  }

  h4{
    font-size:1.375em;
    font-weight:300;
    margin:0;
    display:none;
  }

  .quote_attribution{
    font-family: $copyfont;
    font-size:0.875em;
    margin:5px 0 0 0;
    display:none;
  }

  a{
    display:block;
    margin-right:10px;
  }
}


nav.social_links {
	line-height:1.5em;
    font-size:0.875em;
    margin-left:0;
    font-family: $copyfont;
  
  ul{
    list-style: none;
    margin:40px 0 70px 0;
    padding:0;
    font-weight:300;
    line-height: 1.5em;
  }


  a{
    color:#000;
    text-decoration:none;
    margin-left:0;
    display: inline-block;
  }
  a:hover{
    color:$linkhover;
    text-decoration:none;
    background-image: linear-gradient(to right, $linkhover 75%, transparent 75%);
    background-position: 0 1.3em;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-shadow: 3px 3px $white, 3px -3px $white, -3px 3px $white, -3px -3px $white;
  }
}