
html, body{
   width:100%;
   min-height:100%;
   margin:0;
   height: 100%;
   background-color: $color_page;
}

/* ****************************** */
/* **** Page Header ****
/* ****************************** */

header{
   position: fixed;
   z-index:200;
   font-family: $font_title;
   padding: 50px 0 0 50px;

   .site_name{
      position: relative;
      z-index:200;
      background-color:$color_page;
   }
   .site_name:after{
      content: "";
      background-color: $color_page;
      display:block;
      position:absolute;
      width: 2000px;
      transform-origin: center bottom;
      z-index:10;
      bottom: -25px;
      right: 0px;
      transform: translateX(50%) rotate(-55deg);
      height: 400px;
      outline-offset: 10px;
      outline: 8px solid $color_page;
      transition: all 0.2s $transition_quiver; 
   }

   h1{
      text-indent: -9485px;
      background-image: url("images/cave_logo.svg?sanitize=true"); /* appended query needed for stupid Github bug */
      /* https://stackoverflow.com/a/16462143/10240581 */
      background-size: contain;
      background-position: left bottom;
      background-repeat: no-repeat;
      display:block;
      position: relative;
      width:140px;
      height:63px;
      z-index:50;
   }
   h3{
      font-weight:300;
      text-transform: lowercase;
      line-height:1.3em;
      position: relative;
      z-index:50;
      font-size: 18px;
      margin: 1em 0;
   }
   
   nav{
      font-weight:300;
      position: relative;
      z-index:500;
      float: left;
   }
   ul{
      margin: 1em 0 0;
      padding:0;
      list-style:none;
   }
   li{
      line-height: 1.5em;
      font-size: 18px;
   }
   a{
      color: #000;
      text-decoration: none;
      transition: margin 0.15s $transition_quiver;
   }
   a:hover{
      text-decoration: underline;
      color: rgb(0,100,221);
      margin-left: 4px;
   }

   ul.social{
      opacity: 0;
      transition: all 0.2s $transition_quiver; 
   }
}

header:hover{
   .site_name:after{
      transform: translateX(50%) rotate(-65deg);
   }
   
   ul.social{
      opacity: 1;
   }
   a{
      text-decoration: underline;
   }
}


/* ****************************** */
/* **** Homepage Background ****
/* ****************************** */

.intro_bg{
   width:100%;
   position: relative;
   height: 100%;
   background: url("images/backgrounds/wi-sculpting.jpg") no-repeat;
   /* hmi pic: color-burn / burlywood */
   background-position: 60% center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.intro_bg:before{
   content: "";
   background-color: #7500DE;
   mix-blend-mode: saturation;
   position: absolute;
   width: 100%;
   height: 100%;
   display:block;
}