//
// .page
// 
.page{
  margin-left:$leftmargin;
  margin-right:$leftmargin;

  @include mobile{
    margin-left:20px;
    margin-right:20px;
  }
}



// 
// .instafeed
//
.instafeed_img{
    float:left; 
    margin:0 30px 30px 0;

    @include mobile{
      margin: 0 4px 8px 4px;
    }
  
    img{
      width:200px;
      height:200px;

      @include mobile{
        width:150px;
        height:150px;
      }
    }
    figcaption{
      width:200px;
      font-family:$copyfont;
      font-weight:300;
      font-size:0.875em;
      text-align:center;
      height:3.5em;
      overflow:hidden;

      @include mobile{
        width:150px;
      }
    }
  }
  