
// Common elements

$colour_highlight: #FB2E1D;
$colour_highlight_text: white;

// Design layout

$color_page: white;

// Fonts

$font_title: 'Source Sans Pro', sans-serif;
$font_body: 'Source Sans Pro', sans-serif;
$font_tagline: 'Lemon Milk', sans-serif;

// Transitions

$transition_quiver: cubic-bezier(.26,1.91,.8,.73);