
//
// VARIABLES
//

// Colors
$blue: #4183C4;

$linkhover: #4183C4;
$textselection: rgba(244,185,179,0.8);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$footerbg: #F5F5F5;
$footerborder: #E1E1E1;

// Font stacks
$headingfont: 'Source Sans Pro', sans-serif;
$navfont: 'Source Sans Pro', sans-serif;
$copyfont: 'Source Sans Pro', sans-serif;

// Dimensions
$leftmargin: 150px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}