<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans:400,700|Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

    <script src="{{ site.baseurl }}/scripts/code.js"></script>
  </head>

  {% if page.ishomepage %}
  <body class="homepage">
  {% else %}
  <body>
  {% endif %}

  <header class="masthead">
    <a href="{{ site.baseurl }}/" class="cave-logo"><img src="{{ site.baseurl }}/images/cave_logo.png" /></a>
  </header>

    {{ content }}
    
    {% unless page.nofooter %}
    <div class="wrapper-footer">
      <span class="footer-spacer"></span>
      <footer class="footer">
          <a href="{{ site.baseurl }}/" class="footer_logo"><img src="/images/cave_logo.png"></a>
          <h4>“I’m sorry I made you such a complex design, I didn’t have time to make a simple one”</h4>
          <p class="quote_attribution">Blaise Pascal / Elliott Baxter</p>
        
          <nav class="social_links">
            <ul>
              <li>George Cave (c){{ site.time | date: '%Y' }}</li>
              <li><a href="https://www.instagram.com/{{ site.footer-links.instagram }}/"> Instagram</a></li>
              <li><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"> LinkedIn</a></li>
              <li><a href="https://twitter.com/{{ site.footer-links.twitter }}">          Twitter</a></li>
              <li><a href="https://github.com/{{ site.footer-links.github }}">            Github</a></li>
              <li><a href="mailto:hello@designedbycave.co.uk">                            Email</a></li>
            </ul>
          </nav>
        </footer>
    </div>
    {% endunless %}
    
    {% include analytics.html %}

  </body>
</html>
