<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
      <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      
      <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

      {% include meta.html %}

      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
      <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

      <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans:400,700|Source+Sans+Pro:300,400,600" rel="stylesheet">
      <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
   </head>


  {% if page.ishomepage %}
  <body class="homepage">
  {% else %}
  <body>
  {% endif %}
      <header class="site_top">
         <section class="site_name">
            <h1><a href="/">George Cave / designedbycave.co.uk</a></h1>
            <h3 title="Since 1988!">Designing the interface.<br>Engineering the experience.</h3>
            <a href="#open_menu" class="mobile_menu open_menu" id="open_menu">☰ Menu</a>
         </section>
         <nav id="page_nav">
            <ul>
               <li><a href="{{ site.baseurl }}/opinions/">Opinions</a></li>
               <li><a href="{{ site.baseurl }}/tech/">Tech</a></li>
            </ul>
            <ul class="social">
               <li class="instagram"><a href="https://www.instagram.com/{{ site.footer-links.instagram }}/">Instagram</a></li>
               <li class="linkedin"><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">LinkedIn</a></li>
               <li class="twitter"><a href="https://twitter.com/{{ site.footer-links.twitter }}">Twitter</a></li>
               <li class="github"><a href="https://github.com/{{ site.footer-links.github }}">Github</a></li>
               <li class="email"><a href="mailto:hello@designedbycave.co.uk">Email</a></li>
            </ul>
            <ul>
               <li class="mobile_menu close_menu"><a href="#close_menu" id="close_menu">⮝ Close Menu</a></li>
            </ul>
         </nav>
      </header>

      {{ content }}
      

      {% include analytics.html %}

      <script src="{{ site.baseurl }}/scripts/code.js"></script>
   </body>
</html>
