---
layout: default
---

<div class="article_header">
   {% if page.header_img %}
      <img src="/images/posts/{{ page.folder }}/{{ page.header_img }}">
   {% else %}
      <img src="/images/posts/{{ page.folder }}/header.jpg">
   {% endif %}
</div>


<main class="text_column article">

   <h1>{{ page.title }}</h1>
   <time>{{ page.date | date: "%B %Y"  }}</time>

   {% if page.publishing %}
      <p class="publishing_credits">
      {% if page.publishing.type == "article" %}
         Originally published at
      {% else %}
         This talk was given at
      {% endif %}
      <a href="{{ page.publishing.link}}">{{ page.publishing.name}}</a>
      {% if page.publishing.with_name %}
         with <a href="{{ page.publishing.with_link}}">{{ page.publishing.with_name}}</a>
      {% endif %}
      {% if page.publishing.for_name %}
         for <a href="{{ page.publishing.for_link}}">{{ page.publishing.for_name}}</a>
      {% endif %}
      </p>
   {% endif %}

   {% if page.video %}
      <video controls muted src="{{ page.video }}" width="100%"></video>
   {% endif %}

   {{ content }}

   <section class="posts">
      {% include comments.html %}
   </section>

</main>