---
layout: default
---

<div class="article_header">
   {% if page.header_img %}
      <img src="/images/posts/{{ page.folder }}/{{ page.header_img }}">
   {% else %}
      <img src="/images/posts/{{ page.folder }}/header.jpg">
   {% endif %}
</div>


<main class="text_column article">

  <h1>{{ page.title }}</h1>
  <h4>{{ page.date | date: "%B %Y"  }}</h4>

  {{ content }}

  <p class="published_date">
    {% for tag in page.tags %}
      #{{tag}}     
    {% endfor %}
    <br>
    First published on {% assign day = page.date | date: "%-d"  %}
    {% case day %}
      {% when '1' or '21' or '31' %}{{ day }}st
      {% when '2' or '22' %}{{ day }}nd
      {% when '3' or '23' %}{{ day }}rd
      {% else %}{{ day }}th
    {% endcase %}
    {{ page.date | date: " %B %Y" }}
  </p>

</main>